/* raintree.css */

/* RESETS */
html, html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body { color: #333; }

span.onco-explorer-logo {
	background: url(../images/logos/oncoexplorer_logo.png) no-repeat 0 0;
	display: block;
	height: 50px;
	margin: 20px 0 40px;
	width: 244px;
}





/* - - - - - - - Sidebar Cols - - - - - - - */
	.sidebar-col p {
		font: 400 14px/21px "OpenSansRegular" ,arial, helvetica, sans-serif;
	}

/* - - - - - - - Navigation Menu CTA - - - - - - - */
	header#top nav ul li a {
		color: #333333;
	}
	header#top nav > ul > li.cta a {
		background-color: #5db75d;
		border: 2px solid #5db75d;
		color: #fff;
		font-weight: 700;
		margin-left: 10px;
		padding-left: 42px !important;
		padding-right: 44px !important;
		transition: background-color 0.3s ease;
	}
	header#top nav > ul > li.cta a:hover {
		background-color: transparent;
	}

	header#top nav > ul.sf-menu > li > a:before {
		content: "|";
		position: relative;
		display: inline-block;
		color: #aaa;
		margin-right: 18px;
	}
	header#top nav > ul.sf-menu > li:first-child > a:before,
	header#top nav > ul.sf-menu > li:last-child > a:before {
		content: '';
		margin-right: 0;
	}

/* - - - - - - - Hero - - - - - - - */
	.slider-blue .content .the-text {
		max-width: 480px;
	}
	.slider-grey .content .the-text {
		max-width: 580px;
	}
	.slider-people .content .the-text {
		max-width: 500px;
	}

	.swiper-slide .content h2 {
		font-style: 3.45em !important;
		line-height: 1.1em;
	}
	.slider-blue h2 b {
		color: #fff;
	}
	.slider-blue h3 {
		color: #fff;
		font-size: 1.4em !important;
	}
	.slider-grey h2,
	.slider-grey h2 b,
	.slider-people h2,
	.slider-people h2 b {
		color: #333;
	}
	.slider-grey h3,
	.slider-people h3 {
		color: #333;
		font-size: 1.4em !important;
	}




/* - - - - - - - Testimonials - - - - - - - */
	.testimonial_slider blockquote p {
		font-size: 22px;
		line-height: 40px;
		max-width: 75%;
		margin: auto;
	}

	.testimonial_slider blockquote span {
		opacity: 1;
	}
	.light .testimonial_slider blockquote span {
		color: rgba(255,255,255,1.0);
	}
	div.testimonial-icon {
		background-color: rgba(255,255,255,.20);
		border-radius: 50px;
		height: 50px;
		margin: auto;
		text-align: center;
		width: 50px;
	}
	div.testimonial-icon span {
		color: #3b3050;
		font-family: 'Montserrat';
		font-size: 96px;
		line-height: 99px;
	}

/* - - - - - - - Purple Bar - - - - - - - */
	div.purple-bar {
		background: url(../img/patterns/purple-chevron.jpg) repeat 0 0;
	}

/* - - - - - - - Fade Blocks - - - - - - - */
	.fade-block {
		overflow: hidden;
		height: 160px;
		-webkit-transition: height .5s;
		transition: height .5s;
	}
	.fade-block:after {
		position: absolute;
		bottom: 0;
		left: 0; 
		height: 40%;
		width: 100%;
		content: "";
		background: linear-gradient(to top,
			rgba(239, 241, 236, 1) 0%, 
			rgba(239, 241, 236, 0) 100%
		);
		pointer-events: none; /* so the text is still selectable */
	}
	.fade-block:hover {
		background-color: #eff1ec;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		bottom: -160px;
		height: auto !important;
		left: -23px;
		padding: 20px;
		position: absolute;
		width: 300px;
	}
	.fade-block:hover:after {
		display: none;
	}

/* - - - - - - - Orange Icons - - - - - - - */
	.large-orange-icon {
		background: transparent;
		color: #efad4d;
		font-size: 120px;
		height: auto;
		width: auto;
	}

/* - - - - - - - Row Data - - - - - - - */
	.row-data p {
		font: 400 14px/21px "OpenSansRegular" ,arial, helvetica, sans-serif;
		padding: 0 12px;
	}


/* - - - - - - - Row Analytics - - - - - - - */
	@media all and (min-width: 1300px) {
		.row-analytics .col.span_12 .vc_span6:last-child img {
			margin-left: -86px;
		}
	}
	@media all and (max-width: 1299px) {
		.row-analytics .col.span_12 .vc_span6:first-child img {
			margin: auto;
		}
	}



/* - - - - - - - Special Padding - - - - - - - */
	.css-padded-0-10 { padding: 0 10px; }
	.css-padded-0-20 { padding: 0 20px; }
	.css-padded-0-30 { padding: 0 30px; }
	.css-padded-0-40 { padding: 0 40px; }
	.css-padded-0-50 { padding: 0 50px; }

	.css-padded-10-0 { padding: 10px 0; }
	.css-padded-20-0 { padding: 20px 0; }
	.css-padded-30-0 { padding: 30px 0; }
	.css-padded-40-0 { padding: 40px 0; }
	.css-padded-50-0 { padding: 50px 0; }

/* - - - - - - - Custom Page styles - - - - - - - */
	#the-page-title h1 {
		color: #fff;
		padding: 26px 0;
	}
	/* left col */
	.vc_span8.wpb_column.column_container.col {
		padding-right: 40px;
	}
	/* right col */
	.vc_span4.wpb_column.column_container.col {
		border-left: 1px solid #ddd;
		font: 400 14px/21px "OpenSansRegular" ,arial, helvetica, sans-serif;
		padding-left: 40px;
	}




/* - - - - - - - FIXES - - - - - - - */
	.img-chart-fix {
		
	}